@import url("https://fonts.googleapis.com/css?family=Corbel:100,400,500,700,900&display=swap");

* {
    font-family: "Corbel", sans-serif;
    font-size: 15px !important;
}

.logo__title {
    text-align: left;
    font-size: 42px !important;
    font-family: Geometr415 Blk BT;
    color: #000000 !important;
}

.title__widu {
    font-size: 25px !important;
}

.title1__widu {
    font-size: 40px !important;
    line-height: 45px !important;
}

.subtitle__widu {
    font-size: 20px !important;
}

.subtitle2__widu {
    font-size: 15px !important;
}

.text__widu {
    font-size: 15px !important;
}
.list__widu {
    .tab {
        position: absolute;
        left: 300px;
    }

    .box {
        width: 500px;
        height: 60px;
        padding: 15px;
        border-radius: 10px;
        background-color: #d32f3b;
        font-size: 125%;
        color: #fff;
        text-align: center;
    }

    ul li {
        padding: 0px 0 0px 0px;
        text-indent: -1em;
    }

    li {
        position: relative;
        padding-left: 2px;
        padding-bottom: 5px;
    }

    ul {
        list-style: none;
    }

    li::before {
        content: "\2299";
        color: #f8b218;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -0em;
    }
}